<div class="row" ng-show="cv.informations.experiences">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h3><i class="fa fa-briefcase text-grey-color"></i> Experience</h3>
    </div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <h3 ng-hide="cv.expJob_disabled" class="text-right">
           <img ng-click="cv.ExpAdd()" src="./img/add.png" alt="Add-icon" style="width:20px;"></img>
        </h3>		
    </div>
	
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <h3 class="text-right">
            <a class="" href ng-click="experiencesCtrl.show()"><i class="fa fa-angle-down" ng-hide="experiencesCtrl.toggle"></i></a>
            <a class="" href ng-click="experiencesCtrl.hide()"><i class="fa fa-angle-up" ng-show="experiencesCtrl.toggle"></i></a>
        </h3>
    </div>
	<div ng-show="cv.addExp">
		<span>Job Position: </span>
		<input ng-model="cv.job_position_text" ng-show="cv.job_position" class="form-control">
		<span>Company Name: </span>
		<input ng-model="cv.company_Name_text" ng-show="cv.company_Name" class="form-control">
		<span>From Date: </span>
		<input ng-model="cv.from_date_text" ng-show="cv.from_date" class="form-control">
		<span>To Date: </span>
		<input ng-model="cv.to_date_text" ng-show="cv.to_date" class="form-control">
		<span>Description: </span>
		<input ng-model="cv.job_description_text" ng-show="cv.job_description" class="form-control">
		<button ng-click="cv.ExpAddSave()">Save</button>
		or
		<button ng-click="cv.ExpAddCancel()">Cancel</button>
	</div>
	<div ng-show="cv.editExp">
		<span>Job Position: </span>
		<input ng-model="cv.job_position_text" ng-show="cv.job_position" class="form-control">
		<span>Company Name: </span>
		<input ng-model="cv.company_Name_text" ng-show="cv.company_Name" class="form-control">
		<span>From Date: </span>
		<input ng-model="cv.from_date_text" ng-show="cv.from_date" class="form-control">
		<span>To Date: </span>
		<input ng-model="cv.to_date_text" ng-show="cv.to_date" class="form-control">
		<span>Description: </span>
		<input ng-model="cv.job_description_text" ng-show="cv.job_description" class="form-control">
		<button ng-click="cv.ExpEditSave()">Save</button>
		or
		<button ng-click="cv.ExpEditCancel()">Cancel</button>
	</div>
    <div class="row" ng-repeat="exp in cv.informations.experiences | orderBy:'-to_date'"  ng-show="!experiencesCtrl.toggle">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-dblclick="cv.ExpEdit(exp)">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{exp.job_position}}</h3>
                </div>
                <div class="panel-body">
					<div ng-hide="cv.expCompany_disabled">
						<span>
							<strong><a>{{exp.company.name}}</a></strong>
						</span>
						<span class="text-grey-color">({{exp.from_date | date : 'dd/MM/yyyy'}} to {{exp.to_date}})</span>
					</div>
        </div>
    </div>
</div>