<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h3><i class="fa fa-graduation-cap text-grey-color"></i> Education</h3>
    </div>
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <h3 class="text-right">
           <img ng-click="cv.EduAdd()" src="./img/add.png" alt="Add-icon" style="width:20px;"></img>
        </h3>		
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <h3 class="text-right">
            <a class="" href ng-click="educationCtrl.show()"><i class="fa fa-angle-down" ng-hide="educationCtrl.toggle"></i></a>
            <a class="" href ng-click="educationCtrl.hide()"><i class="fa fa-angle-up" ng-show="educationCtrl.toggle"></i></a>
        </h3>
    </div>
	<div ng-show="cv.addEdu">
		<span>Degree: </span>
		<input ng-model="cv.degreeEdu_text" ng-show="cv.degreeEdu" class="form-control">
		<span>From Date: </span>
		<input ng-model="cv.fromDateEdu_text" ng-show="cv.fromDateEdu" class="form-control">
		<span>To Date: </span>
		<input ng-model="cv.toDateEdu_text" ng-show="cv.toDateEdu" class="form-control">
		<span>School Name: </span>
		<input ng-model="cv.schoolNameEdu_text" ng-show="cv.schoolNameEdu" class="form-control">		
		<button ng-click="cv.EduAddSave()">Save</button>
		or
		<button ng-click="cv.EduAddCancel()">Cancel</button>
	</div>
	<div ng-show="cv.editEdu">
		<span>Degree: </span>
		<input ng-model="cv.degreeEdu_text" ng-show="cv.degreeEdu" class="form-control">
		<span>From Date: </span>
		<input ng-model="cv.fromDateEdu_text" ng-show="cv.fromDateEdu" class="form-control">
		<span>To Date: </span>
		<input ng-model="cv.toDateEdu_text" ng-show="cv.toDateEdu" class="form-control">
		<span>School Name: </span>
		<input ng-model="cv.schoolNameEdu_text" ng-show="cv.schoolNameEdu" class="form-control">		
		<button ng-click="cv.EduEditSave()">Save</button>
		or
		<button ng-click="cv.EduEditCancel()">Cancel</button>
	</div>
    <div class="row" ng-repeat="edu in cv.informations.education | orderBy:'-to_date'" ng-show="!educationCtrl.toggle">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-dblclick="cv.EduEdit(edu)">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{{edu.school_name}}</h3>
                </div>
                <div class="panel-body">
                    <span>{{edu.degree}}</span>
                    <span class="text-grey-color">({{edu.from_date | date : 'dd/MM/yyyy'}} to {{edu.to_date | date : 'dd/MM/yyyy'}})</span>
                </div>
            </div>
        </div>
    </div>
</div>