<section ng-show="cv.informations.personal_informations">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3><i class="fa fa-info-circle text-grey-color"></i> Personal Informations</h3>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="img/profilepicture.jpg" alt="profile picture" class="img-square img-responsive ">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 text-right text-grey-color hidden-xs">
            <h2>Name:</h2>
            <h5>Current:</h5>
			<h5>Country:</h5>
			<h5>Email:</h5>
			<h5>Facebook:</h5>
            <h5>Company:</h5>
            <h5><i class="fa fa-phone"></i> Phone number:</h5>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
		
			<div ng-hide="cv.infoName_disabled">
				<h2 ng-dblclick="cv.infoName_enabled()">
					<span class="visible-xs-* hidden-sm hidden-md hidden-lg text-grey-color">Name:</span> 
					{{cv.informations.personal_informations.name}}</h2> 
			</div>
			<div ng-show="cv.infoName_disabled">
							<input ng-model="cv.infoName_text" class="form-control">
							<button ng-click="cv.infoName_save()">Save</button>
							or
							<button ng-click="cv.infoName_cancel()">Cancel</button>
						</div>
						
			<div ng-hide="cv.infoCurrent_disabled">
				<h5 ng-dblclick="cv.infoCurrent_enabled()">
					<span class="visible-xs-* hidden-sm hidden-md hidden-lg text-grey-color">Current:</span> {{cv.position}}</h5>
			</div>
			<div ng-show="cv.infoCurrent_disabled">
							<input ng-model="cv.infoCurrent_text" class="form-control">
							<button ng-click="cv.infoCurrent_save()">Save</button>
							or
							<button ng-click="cv.infoCurrent_cancel()">Cancel</button>
						</div>
						
			<div ng-hide="cv.infoCountry_disabled">
				<h5 ng-dblclick="cv.infoCountry_enabled()">
					<span class="visible-xs-* hidden-sm hidden-md hidden-lg text-grey-color">Country:</span> {{cv.informations.personal_informations.country}}</h5>
			</div>
			<div ng-show="cv.infoCountry_disabled">
							<input ng-model="cv.infoCountry_text" class="form-control">
							<button ng-click="cv.infoCountry_save()">Save</button>
							or
							<button ng-click="cv.infoCountry_cancel()">Cancel</button>
						</div>
			
			<div ng-hide="cv.infoEmail_disabled">
				<h5 ng-dblclick="cv.infoEmail_enabled()">
					<span class="visible-xs-* hidden-sm hidden-md hidden-lg text-grey-color">Email:</span> {{cv.informations.personal_informations.email}}</h5>
			</div>
			<div ng-show="cv.infoEmail_disabled">
							<input ng-model="cv.infoEmail_text" class="form-control">
							<button ng-click="cv.infoEmail_save()">Save</button>
							or
							<button ng-click="cv.infoEmail_cancel()">Cancel</button>
						</div>
			
			<h5>
                <span class="visible-xs-* hidden-sm hidden-md hidden-lg text-grey-color">Facebook:</span><a href="{{cv.informations.personal_informations.facebook}}" target="_blank">https://www.facebook.com/phong.nguyenthanh.7777</a></h5>
				 
			<div ng-hide="cv.infoCompany_disabled">
				<h5 ng-dblclick="cv.infoCompany_enabled()">
					<span class="visible-xs-* hidden-sm hidden-md hidden-lg text-grey-color">Company:</span> {{cv.current_company_name}} </h5>
			</div>
			<div ng-show="cv.infoCompany_disabled">
							<input ng-model="cv.infoCompany_text" class="form-control">
							<button ng-click="cv.infoCompany_save()">Save</button>
							or
							<button ng-click="cv.infoCompany_cancel()">Cancel</button>
						</div>
			
			<div ng-hide="cv.infoPhone_disabled">
				<h5 ng-dblclick="cv.infoPhone_enabled()">
					<span class="visible-xs-* hidden-sm hidden-md hidden-lg text-grey-color"><i class="fa fa-phone"></i> Phone number:</span> 
					{{cv.informations.personal_informations.phone_number}}
				</h5>
			</div>
			<div ng-show="cv.infoPhone_disabled">
							<input ng-model="cv.infoPhone_text" class="form-control">
							<button ng-click="cv.infoPhone_save()">Save</button>
							or
							<button ng-click="cv.infoPhone_cancel()">Cancel</button>
						</div>
        </div>
    </div>
</section>